{% extends "shared/layout.jinja" %}

{% block title %}
{{ NAVBAR_APP_NAME }}
{% endblock %}

{% block body %}
<div id="index-body" class="container-fluid">
  <div class="row mb-2">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>{{ APP_NAME|e }}</h2>
        </div>
        {% if version != "" %}
        <div class="col-auto">
          <a href="{{ url_for('view_changelog') }}">
            <em class="text-muted">{{ version|e }}</em>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col">
          <div>
            Welcome to the ECTC Tournament Notification System (TNS), which is
            aimed to provide better communication between the league and its
            participants, namely the competitors and their coaches.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h4>About</h4>
      <div>
        This system was created by Joseph Lou in Spring 2023 as an independent
        work project at Princeton University, with lots of help from
        representatives of the ECTC, such as William Estey, Carissa Fu, and Tara
        Sarathi (many thanks!).
      </div>
    </div>
  </div>
  {% if user_is_logged_in and user_is_admin %}
  <div class="row">
    <div class="col">
      <h5>Contact</h5>
      <div>
        I (Joseph) can be reached at <code>josephlou@princeton.edu</code> or
        <code>714-225-7367</code>.
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
