{% extends "shared/layout.jinja" %}

{% block title %}
{{ APP_NAME }}
{% endblock %}

{% block body %}
<div id="index-body" class="container-fluid">
  <h2>{{ APP_NAME }}</h2>
  <div>
    Welcome to the ECTC Tournament App, which is aimed to provide better
    communication between the league and its participants, namely the
    competitors and their coaches.
  </div>
</div>
{% endblock %}
