{% extends "shared/layout.jinja" %}

{% block title %}
Sent Emails
{% endblock %}

{% set toggle_all_recipients_btn_id = "toggle-all-recipients-btn" %}
{% set recipients_div_class = "email-recipients" %}

{% block body %}
<div id="sent-emails-body" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Sent Emails</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if sent_emails|length == 0 %}
      No emails have been sent.
      {% else %}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <th class="table-sm-col"></th>
            <th>Mailchimp Template</th>
            <th>Email Subject</th>
            <th>Recipients</th>
            <th>
              <button
                type="button"
                id="{{ toggle_all_recipients_btn_id }}"
                class="btn btn-sm btn-secondary"
              >
                Toggle All
              </button>
            </th>
            <th>Time Sent</th>
          </thead>
          <tbody>
            {% for sent_email in sent_emails %}
            <tr>
              <th>{{ loop.index }}</th>
              <td>{{ sent_email["template_name"]|e }}</td>
              <td>{{ sent_email["subject"]|e }}</td>
              {% if sent_email["blast"] %}
              <td colspan="2">{{ sent_email["recipients"]|e }}</td>
              {% else %}
              {% set recipients_div_id = "email-" ~ loop.index0 ~ "-recipients"
               %}
              <td>Match {{ sent_email["match_number"]|e }}</td>
              <td>
                <div>
                  <button
                    type="button"
                    id="toggle-{{ recipients_div_id }}"
                    class="btn btn-sm btn-secondary"
                    onclick="toggleEmailRecipients('{{ recipients_div_id }}');"
                  >
                    Show
                  </button>
                </div>
                <div
                  id="{{ recipients_div_id }}"
                  class="{{ recipients_div_class }} d-none"
                >
                  {% for email_address in sent_email["recipients"] %}
                  <div>{{ email_address|e }}</div>
                  {% endfor %}
                </div>
              </td>
              {% endif %}
              <td>{{ sent_email["time_sent"]|e }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function toggleEmailRecipients(elementId, forceShow = null) {
    const $recipientsDiv = $('#' + elementId);
    const $toggleButton = $('#toggle-' + elementId);
    toggleDisplay($recipientsDiv, $toggleButton, { forceShow });
  }

  function handleToggleAllRecipientsClicked() {
    const $recipientDivs = $('.{{ recipients_div_class }}');
    if ($recipientDivs.length === 0) return;
    let allShowing = true;
    $recipientDivs.each((index, element) => {
      if ($(element).hasClass('d-none')) {
        allShowing = false;
        return false;
      }
    });
    $recipientDivs.each((index, element) => {
      // if everything is showing, hide everything. otherwise, show everything.
      toggleEmailRecipients(element.id, !allShowing);
    });
  }

  $(document).ready(() => {
    // toggle all recipients button
    $('#{{ toggle_all_recipients_btn_id }}').click((event) => {
      handleToggleAllRecipientsClicked();
    });
  });
</script>
{% endblock %}
