{# user must provide `service_account_email` variable #}

{% set service_account_email_id = "service-account-email" %}
{% set copy_email_status_id = "copy-email-status" %}

<div class="mb-2">
  The service account is used to access Google Spreadsheets. Either make your
  spreadsheet publicly accessible or share the spreadsheet with the service
  account email with at least view permissions.
</div>
<div class="mb-2">
  Current service account:
  {% if service_account_email is none %}
  <em class="text-muted">None</em>
  {% else %}
  <strong id="{{ service_account_email_id }}">
    {{ service_account_email|e }}
  </strong>
  <button
    type="button"
    class="btn btn-sm btn-outline-success ms-2"
    onclick="copyServiceAccount();"
  >
    {# there is a clipboard and a clipboard with a check, but it looks more like
       a paste than a copy
     #}
    <i class="bi bi-files"></i>
  </button>
  <span id="{{ copy_email_status_id }}" class="ms-2"></span>
  {# use a script element here so that the button press can call this function #}
  <script>
    function copyServiceAccount() {
      // copy the email to the user's clipboard
      copyElementContent('{{ service_account_email_id }}', () => {
        setElementHtmlFor(
          '{{ copy_email_status_id }}',
          bsAlertSm('Copied!', 'success'),
          5
        );
      });
    }
  </script>
  {% endif %}
</div>
