{% macro _bs_alert(tag, accent, classes='', small=false, dismissible=true) %}
{% set sm_cls = 'alert-sm' if small else 'd-flex mb-2' %}
{% set dismissible_cls = 'alert-dismissible fade show' if dismissible else '' %}
<{{ tag }}
  class="alert {{ sm_cls }} alert-{{ accent }} {{ dismissible_cls }} {{ classes }}"
  role="alert"
>
  <span
    {% if not small %}
    class="me-auto"
    {% endif %}
  >
    {{ caller() }}
  </span>
  {% if dismissible %}
  <button
    type="button"
    class="btn-close {{ 'ms-2' if small else '' }}"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
  {% endif %}
</{{ tag }}>
{% endmacro %}

{% macro bs_alert(accent, classes='', dismissible=true) %}
{% with contents = caller() %}
{% call _bs_alert(
     'div', accent, classes=classes, dismissible=dismissible
   ) %}
{{ contents }}
{% endcall %}
{% endwith %}
{% endmacro %}

{% macro bs_alert_sm(accent, classes='', dismissible=true) %}
{% with contents = caller() %}
{% call _bs_alert(
     'span', accent, classes=classes, small=true, dismissible=dismissible
   ) %}
{{ contents }}
{% endcall %}
{% endwith %}
{% endmacro %}
