{% extends "shared/layout.jinja" %}

{% block title %}
Fetch Roster Logs
{% endblock %}

{% set all_log_levels_btn_wrapper_id = "all-log-levels-btn-wrapper" %}
{% set log_levels_page_btn_class = "log-level-page" %}
{% set log_levels_page_wrapper_class = log_levels_page_btn_class ~ "-wrapper" %}

{% set log_row_class = "log-row" %}
{% set log_error_row_class = "log-error-row" %}
{% set log_warning_row_class = "log-warning-row" %}

{% macro log_level_accent_class(log_level) %}
{% if log_level == "ERROR" %}
table-danger
{% elif log_level == "WARNING" %}
table-warning
{% endif %}
{% endmacro %}

{% block body %}
<div id="logs-body" class="container-fluid">
  <h2>Fetch Roster Logs</h2>
  {% if time_fetched is none or logs is none %}
  <div>No logs</div>
  {% else %}
  <h5>Time fetched: {{ time_fetched|e }}</h5>
  {% if warning_log_levels|length > 0 %}
  {# allow using pagination to see the warnings better #}
  {{ macros.pagination(
       all_log_levels_btn_wrapper_id,
       log_levels_page_btn_class,
       log_levels_page_wrapper_class,
       "level",
       warning_log_levels,
     )
  }}
  {% endif %}
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="table-sm-col">Level</th>
        <th class="table-sm-col">Sheet Row</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      {% set log_level = log["level"] %}
      <tr
        class="text-monospace {{ log_row_class }}"
        level="{{ log_level|capitalize|e }}"
      >
        <td class="table-sm-col {{ log_level_accent_class(log_level) }}">
          {{ log_level|e }}
        </td>
        <td class="table-sm-col">
          {{ log["row_num"]|e if log["row_num"] is not none }}
        </td>
        <td>{{ log["message"]|e }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <a href="{{ url_for('static', filename=fetch_logs_filename) }}">Raw logs</a>
  </div>
  {% endif %}
{% endblock %}

{% block script %}
{% if warning_log_levels|length > 0 %}
<script>
  $(document).ready(() => {
    // pagination for log levels
    handleBsPagination(
      '{{ all_log_levels_btn_wrapper_id }}',
      '{{ log_levels_page_btn_class }}',
      '{{ log_levels_page_wrapper_class }}',
      'level',
      '{{ log_row_class }}'
    );
  });
</script>
{% endif %}
{% endblock %}
