{% extends "shared/layout.jinja" %}

{% block title %}
Full Roster
{% endblock %}

{% set refetch_roster_btn_id = "refetch-roster-btn" %}
{% set clear_roster_btn_id = "clear-roster-btn" %}
{% set fetch_roster_messages_id = "fetch-roster-messages" %}

{% set flashed = get_flashed_by_categories(subcategories=true) %}

{% macro users_table(label, users) %}
<div class="row mb-2">
  <div class="col">
    <h4>{{ label }}</h4>
    {% if users|length == 0 %}
    <div>No {{ label|lower }}</div>
    {% else %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="table-sm-col"></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th class="table-sm-col">{{ loop.index }}</th>
          <td>{{ user.first_name|e }}</td>
          <td>{{ user.last_name|e }}</td>
          <td>{{ user.email|e }}</td>
          <td>{{ user.school.name|e }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro team_member(user) %}
{% if user is none %}
<em class="text-muted">None</em>
{% else %}
{{ user.full_name|e }}
{% endif %}
{% endmacro %}

{% block body %}
<div id="roster-body" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Full Roster</h2>
    </div>
    <div class="col-auto">
      {{ macros.loading_btn(
           refetch_roster_btn_id,
           "success",
           ("Fetch" if is_roster_empty else "Refetch") ~ " Roster",
           "Fetching...",
         )
      }}
    </div>
    {% if not is_roster_empty %}
    <div class="col-auto ps-0">
      {{ macros.confirm_btn(
           clear_roster_btn_id,
           "Clear Roster",
           "clear the full roster",
           loading_text="Clearing...",
         )
      }}
    </div>
    {% endif %}
  </div>
  {% if has_fetch_logs %}
  <div class="row mb-2">
    <div class="col">
      See the fetch logs <a href="{{ url_for('fetch_roster_logs') }}">here</a>.
    </div>
  </div>
  {% endif %}
  <div class="row mb-2">
    <div id="{{ fetch_roster_messages_id }}" class="col-auto">
      {% for accent, messages in flashed["fetch-roster"].items() %}
      {% for message in messages %}
      {% call macros.bs_alert(accent) %}
      {{ message }}
      {% endcall %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  {% if is_roster_empty %}
  <div class="row mb-2">
    <div class="col">
      Empty roster
    </div>
  </div>
  {% else %}
  <div class="row mb-2">
    <div class="col">
      <h4>Schools</h4>
      {% if schools|length == 0 %}
      <div>No schools</div>
      {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="table-sm-col"></th>
            <th>School Name</th>
          </tr>
        </thead>
        <tbody>
          {% for school in schools %}
          <tr>
            <th class="table-sm-col">{{ loop.index }}</th>
            <td>{{ school.name|e }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
  {{ users_table("Coaches", coaches) }}
  {{ users_table("Athletes", athletes) }}
  {{ users_table("Spectators", spectators) }}
  <div class="row mb-2">
    <div class="col">
      <h4>Teams</h4>
      {% if teams|length == 0 %}
      <div>No teams</div>
      {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="table-sm-col"></th>
            <th>School</th>
            <th>Code</th>
            <th>Light</th>
            <th>Middle</th>
            <th>Heavy</th>
            <th>Alternates</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
          <tr>
            <th class="table-sm-col">{{ loop.index }}</th>
            <td>{{ team.school.name|e }}</td>
            <td>{{ team.code|e }}</td>
            <td>{{ team_member(team.light) }}</td>
            <td>{{ team_member(team.middle) }}</td>
            <td>{{ team_member(team.heavy) }}</td>
            <td>
              {% if team.alternates|length == 0 %}
              <em class="text-muted">None</em>
              {% else %}
              {% for alternate in team.alternates %}
              <div>{{ alternate.full_name|e }}</div>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col">
      <a href="{{ url_for('view_full_roster_raw') }}">Raw roster</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function handleFetchRosterClicked() {
    if (isButtonLoading('{{ refetch_roster_btn_id }}')) {
      // currently fetching; ignore click
      return;
    }

    // clear messages
    $('#{{ fetch_roster_messages_id }}').html('');

    setButtonLoading('{{ refetch_roster_btn_id }}');
    // just reload once the fetching is done
    ajaxRequest('POST', '{{ url_for("fetch_roster", flash_all=1) }}');
  }

  function handleClearRosterClicked() {
    if (isButtonLoading('{{ clear_roster_btn_id }}')) {
      // currently clearing; ignore click
      return;
    }

    // clear messages
    $('#{{ fetch_roster_messages_id }}').html('');

    setButtonLoading('{{ clear_roster_btn_id }}');
    // just reload once the clearing is done
    ajaxRequest('DELETE', '{{ url_for("fetch_roster") }}');
  }

  $(document).ready(() => {
    $('#{{ refetch_roster_btn_id }}').click((event) => {
      handleFetchRosterClicked();
    });
    $('#{{ clear_roster_btn_id }}').click((event) => {
      handleClearRosterClicked();
    });
  });
</script>
{% endblock %}
