{# These ids are from `src/templates/notifications/index.jinja` #}
{% if blast %}
{% set mc_template_select_id = "blast-notif-mc-templates-select" %}
{% else %}
{% set mc_template_select_id = "match-notif-mc-templates-select" %}
{% endif %}

<select
  id="{{ mc_template_select_id }}"
  class="form-select"
  {% if templates|length == 0 %}
  disabled
  {% endif %}
>
  {% if templates|length == 0 %}
  <option value="" selected>No templates in folder</option>
  {% else %}
  {% if selected_template_id is none %}
  <option value="" disabled selected>Select template</option>
  {% endif %}
  {% for template_info in templates %}
  {% set template_id = template_info["id"] %}
  <option
    value="{{ template_id }}"
    {% if template_id == selected_template_id %} selected {% endif %}
  >
    {{ template_info["title"]|e }}
  </option>
  {% endfor %}
  {% endif %}
</select>
<div id="{{ mc_template_select_id }}-invalid" class="invalid-feedback"></div>
