.text-monospace {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

code {
  /* GitHub's default light theme code blocks */
  border-radius: 6px;
  background-color: rgb(175, 184, 193, 0.2);
  color: black;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 85%;
  line-height: 1.5;
  margin: 0;
  padding: 0.2em 0.4em;
  white-space: break-spaces;
  word-wrap: break-word;
}

/* Use Bootstrap's LG breakpoint */
@media (max-width: 991.98px) {
  /* Less than 992px. */
  /* Allow wrapping when the screen gets too small. */
  .table-sm-col {
    width: 0;
  }
}
@media (min-width: 992px) {
  /* More than 992px. */
  .table-sm-col {
    width: 0;
    white-space: nowrap;
  }
}

.alert-sm {
  padding: 0.5rem 0.5rem !important;
}

.alert-sm.alert-dismissible {
  padding-right: 2.5rem !important;
}

.alert-sm .btn-close {
  padding: 0.5rem 0.75rem !important;
}

@media (min-width: 500px) {
  /* When greater than 500px, use fixed width. Otherwise, change with screen
     size.
   */
  #service-account-file-input-wrapper {
    min-width: 500px;
  }
}
