.text-monospace {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

code {
  /* GitHub's default light theme code blocks */
  border-radius: 6px;
  background-color: rgb(175, 184, 193, 0.2);
  color: black;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 85%;
  line-height: 1.5;
  margin: 0;
  padding: 0.2em 0.4em;
  white-space: break-spaces;
  word-wrap: break-word;
}

.alert-sm {
  padding: 0.5rem 0.5rem !important;
}

.alert-sm.alert-dismissible {
  padding-right: 2.5rem !important;
}

.alert-sm .btn-close {
  padding: 0.5rem 0.75rem !important;
}
